// Fonts
@import url( 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
$font-1: "Source Sans Pro", sans-serif;

// Font-sizes
$font-size-1: 4.8rem;
$font-size-1-1: 3.9rem;
$font-size-1-2: 2.8rem;
$font-size-1-3: 2.3rem;
$font-size-2: 3.8rem;
$font-size-3: 2.1rem;
$font-size-3-1: 1.7rem;
$font-size-3-2: 1.6rem;
$font-size-3-3: 1.4rem;
$font-size-4: 1.9rem;
$font-size-4-1: 1.6rem;
$font-size-4-2: 1.4rem;
$font-size-4-3: 1.2rem;
$font-size-5: 1.7rem;
$font-size-5-1: 1.4rem;
$font-size-5-2: 1.3rem;
$line-height-1: 1.5;
$line-height-2: 1.4;

// Colors
$color-0: #FFF;
$color-1: #4A4ABD;
$color-2: #555;
$color-3: #666;
$color-4: #999;
$color-5: #2BEFB5;
$color-6: #282828;

// Breakpoints
$tiny: 480px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
