@import url("https://use.typekit.net/icq8art.css");

body {
  background: #000;
  color: #FFF;
  padding: 3.5rem;
  font-family: soleil, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width:768px) {
    padding: 3.5rem 1.5rem;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-logo {
    width: 4.5rem;
  }

  .link-contact {
    &::before {
      content:"";
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      background: url("../img/waving-hand.png") no-repeat;
      background-size: 1.5rem 1.5rem;
      transform: translateX(-.75rem) translateY(.35rem);
    }
  }
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  margin: 16.875rem 0 5.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;

  @media (max-width:768px) {
    margin: 10rem 0 5.5rem;
  }
}

h2 {
  margin: 0 0 16.875rem;
  font-size: 5.5rem;
  font-weight: 600;
  line-height: 1.25;

  @media (max-width:768px) {
    margin: 0 0 10rem;
    font-size: 3.5rem;
  }
}

a {
  color: #FFF;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.dribbble-shots {
  display: flex;
  flex-wrap: wrap;

  .dribbble-shots-item {
    width: 50%;

    img {
      display: block;
      float: left;
      max-width: 100%;
    }

    @media (max-width:768px) {
      width: 100%;
    }
  }
}

footer {
  .footer-icons {
    display: flex;
    list-style: none;
    margin: 5rem 0 1.5rem;
    padding: 0;

    li {
      margin-right: 4.75rem;

      @media (max-width:768px) {
        margin-bottom: 1.5rem;
      }
    }

    @media (max-width:768px) {
      display: block;
    }
  }
}
