// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include Bootstrap variables and add any default variable overrides here
@import "../../node_modules/bootstrap/scss/variables";

$primary:   $white;
$secondary: $gray-900;

$spacers: map-merge($spacers, (
    6: ($spacer * 5),   // 80px
    7: ($spacer * 7),   // 112px
    8: ($spacer * 9),   // 144px
    9: ($spacer * 11),  // 176px
    10: ($spacer * 13), // 208px
    11: ($spacer * 15)  // 240px
));

$body-bg:       #191919;
$body-color:    $white;

$link-color:                $gray-500;
$link-decoration:           none;
$link-hover-color:          $primary;

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";

// 6. Add additional custom code here

.header {
    @extend
        .d-flex,
        .justify-content-between,
        .align-items-center,
        .py-5;

    &-avatar {
        width: 3.75rem;

        &:hover {
            opacity: .9;
        }
    }

    &-link {
        @extend .ms-3;

        &-is_current {
            color: $body-color;
        }
    }
}

main.home {
    .baseline {
        @extend 
            .my-4,
            .my-sm-5,
            .my-md-6,
            .my-lg-7,
            .mb-5,
            .mb-sm-6,
            .mb-md-7,
            .mb-lg-8;

        h1 {
            @extend 
                .mb-4,
                .h5,
                .fw-normal;
        }

        h2 {
            @extend .display-2;

            font-weight: 600;
        }
    }

    .portfolio {
        @extend 
            .row;

        // @extend 
        //     .row,
        //     .mb-3,
        //     .mb-sm-4,
        //     .mb-md-5,
        //     .mb-lg-6;

        &-item {
            @extend 
                .col-12,
                .col-md-6;

            &-content {
                @extend 
                    .d-inline-block,
                    .mb-6;           

                img {
                    @extend
                        .w-100,
                        .mb-3;
                }

                h4 {
                    @extend 
                        .h5,
                        .mt-2;
                    
                    color: $gray-500;

                    font-weight: 400;
                }

                h3 {
                   color: $body-color;
                }

                a {
                    @extend .h1;    
                }

                &:hover {
                    h3 {
                        color: $gray-400;
                    }

                    h4 {
                        color: $gray-600;
                    }
                }
            }
        }
    }

    .dribbble-shots {
        @extend .row;

        h5 {
            @extend 
                .h4,
                .mb-5;
        }

        &-item {
            @extend
                .col-6,
                .col-lg-4,
                .mb-4;

            img {
                @extend .w-100;
            }
        }
    }
}

main.list {
    @extend 
        main.home,
        .mt-2,
        .mb-0;

}

main.single {
    h1 {
        @extend 
            .display-3,
            .mt-6,
            .mb-4; 
        
        font-weight: 600;
    }

    h2 {
        @extend .mb-5; 
        
        font-weight: 600;
    }

    h3 {
        @extend .mb-5; 
        
        font-weight: 600;
    }

    h4 {
        @extend .mb-4; 
        
        font-weight: 600;
    }

    h5 {
        @extend 
            .h4,
            .mb-7,
            .text-secondary; 

            font-weight: 600;
    }

    section {
        @extend .mb-6;
    }

    .sm {
        &-card {
            @extend 
                .bg-dark,
                .p-4,
                .rounded-3;

            &-title {
                @extend
                .text-secondary,
                .mb-2,
                .text-secondary;

                font-size: 1.5rem;
                font-weight: 600;
            }

            h4 {
                @extend .mb-0;
            }
        }

        &-img {
            @extend .w-100;
        }

        &-caption {
            @extend
                .mt-2, 
                .small,
                .text-secondary,
                .text-uppercase,
                .text-center,
                .font-monospace;
        }
    }
}

footer {
    // @extend 
    //     .pt-5,
    //     .pt-sm-6,
    //     .pt-md-7,
    //     .pt-lg-8,
    //     .pb-5;

    @extend 
        .pt-5,
        .pt-sm-6,
        .pt-md-6,
        .pt-lg-7,
        .pb-5;

    ul {
        @extend 
            .list-unstyled, 
            .d-flex,
            .mb-0;

        li {
            @extend 
                .list-inline-item,
                .me-4,
                .me-md-5,
                .mb-0;

            a {
                $size-icon: 1.5rem;
                display: inline-block;
                width: $size-icon;
                height: $size-icon;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: $size-icon $size-icon;
                cursor: pointer;

                &[title="LinkedIn"] {
                    background-image: url("../img/social-icons/linkedin.svg");

                    &:hover {
                        background-image: url("../img/social-icons/linkedin-hover.svg");
                    }
                }

                &[title="Twitter"] {
                    background-image: url("../img/social-icons/twitter.svg");

                    &:hover {
                        background-image: url("../img/social-icons/twitter-hover.svg");
                    }
                }

                &[title="Dribbble"] {
                    background-image: url("../img/social-icons/dribbble.svg");

                    &:hover {
                        background-image: url("../img/social-icons/dribbble-hover.svg");
                    }
                }

                &[title="Instagram"] {
                    background-image: url("../img/social-icons/instagram.svg");

                    &:hover {
                        background-image: url("../img/social-icons/instagram-hover.svg");
                    }
                }

                span {
                    display: none;
                  }
            }
        }
    } 
}

body {
    -webkit-font-smoothing: antialiased;
}

.sm-button {
    @extend
        .px-3,
        .py-2;

    color: $body-color;
    border-radius: .5rem;
    border: 1px solid transparent;
    background: linear-gradient($body-bg, $body-bg) padding-box, linear-gradient(45deg, #5E9BCA, #EB8D00) border-box;
    
    &:hover {
        background: linear-gradient(45deg, #5E9BCA, #EB8D00) border-box;  
    }
}

// Staticrypt login prompt customization

.staticrypt {
    &-title,
    &-remember-label {
        color: #000;
    }

    &-hr {
        opacity: 1;
    }

    &-form .staticrypt-decrypt-button,
    &-body {
        background: #000;
    }

    &-form .staticrypt-decrypt-button:hover, 
    &-form .staticrypt-decrypt-button:active, 
    &-form .staticrypt-decrypt-button:focus {
        background: #343a40;
    }

    &-footer {
        display: none;
    }
}