{{ define "main" }}
    <main class="home">
        <section class="baseline">
            <div class="row">
                <div class="col-12 col-xl-4 align-self-center">
                    <h1>Sébastien Moog<br />Senior UX Designer. Currently at GoTo</h1>
                    <a href="mailto:smogledore@gmail.com" class="sm-button" title="smogledore@gmail.com" target="_blank">Get in touch</a> 
                </div>
                <div class="col-12 col-xl-8">
                    <h2 class="mt-5 m-xl-0">Crafting digital experiences with precision and strategy</h2>
                </div>
            </div>
        </section>

        {{ range where .Pages "Section" "portfolio"}}
            {{ partial "content-list" .}}
        {{ end }}

    </main>

{{ end }}